
/* CSS for welcome.jsp */

.wel_con {
    position: fixed;
    width: 100%;
    height: 100%;
    /*border: dotted #0f0f0f;*/
}

.login_con {
    margin: 2%;
    padding: 5px;
    float: left;
    /*border: dotted #0f0f0f;*/
}

.reg_con {
    margin: 2%;
    padding: 5px;
    float: left;
    /*border: dotted #0f0f0f;*/
}

.lang {
    margin: 5px;
}

.btn-logout {
    margin: 5px;
}

.username {
    margin: 5px;
}